* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.47;
}

.container {
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;/*x when row, y when column*/
    align-items: center; /*y when row, x when column*/
}

.i2__text {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #a1a1a1;
    font-size: 15px;
}

.item {
    color: #fff;
    height: 100vh;
}

.i1 , .i4{
    flex: 1 1 30px;
    background-color: #f1f1f1;
}

.i2 {
    background-color: #3b3737;
    flex-basis: 360px;
}

.i3 {
    flex-basis: 720px;
    background-color: #ffffff;
}

.i1__box,
.i2__box,
.i3__box,
.i4__box {
    height: 50px;
    background-color: #36b8c8;
}

.i3__box {
    background-color: #24bfd2;
}

.icon {
    top: 7px;
    padding-left: 5px;
    position: absolute;
    opacity: 1;
} 
    
.input-field { 
    width: 100%; 
    border: 0;
    height: 50px;
    background: #24bfd2;
    font-size: 30px;
    margin-top: 0px;
    vertical-align: top;
    color:#ffffff;
    padding-left: 10px;
}

.icon:hover {
    cursor: text;
}


/* List item styles */

.todo-item {
    border-bottom: 1px solid #d3d3d3;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.blueCircle {
    background-color: #d8fbff;
    border: 1px solid #03e2fd;
}

.pinkCircle {
    background-color: #ffcff8;
    border: 1px solid #fe28dd;
}
.redCircle {
    background-color: #ffbfbf;
    border: 1px solid #fe0000;
}
.yellowCircle {
    background-color: #feffc8;
    border: 1px solid #fcff02;
}
.greenCircle {
    background-color: #edffb9;
    border: 1px solid #ade704;
}


.i3__list__item {
    color: black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #a1a1a1;
}

.l1,
.l6 {
    padding-right: 10px;
    padding-left: 20px;
}

.l3 {
    padding-left: 10px;
}

.l4 {
    flex: 1 1 10px;
}


.l1 {
    flex-basis: 40px;
}

.l2 {
    flex-basis: 20px;
    text-align: center;
}

.l6 {
    flex-basis: 30px;
}

.plus {
    padding-left: 10px;
    cursor: pointer;
}

.plus {
  font-size: 30px;
  color: #2699fb;
  transition: color .3s; 
}


.plus:hover + .add-new-text{
    color: #c0c0c0;
}

.add-new-text {
    transition: color .3s;
    cursor: pointer;
}

.add-new-text:hover {
    color: #c0c0c0;
}


.checkmark {
    cursor: pointer;
    font-size: 25px;    
    color: #f1f1f1;
    transition: color .3s;
}


.checkmark:hover{
    color: forestgreen;
}

.remove {
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 25px;    
    color:#f2f2f2;
    transition: color .3s; 
}


.remove:hover {
    color:#686868;
}
