body{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header{
    font-size: 8vh;
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: rgb(27, 27, 27);
    color: white;
}

#by{
    color: rgb(0, 0, 0);
    font-size: 4vh;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
    z-index: 1;
}

#title{
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: rgb(224, 223, 223);
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2vh;
    
}

input::placeholder {
    text-align: center;
  }


#description{
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: rgb(224, 223, 223);
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2vh;
}

#date{
    width: 60%;
    height: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2vh;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(224, 223, 223);
    border: none;
}

#buttons_all{
    display: inline-flex; 
    flex-direction: row;
}

#load{
    width: 15%;
    height: 50px;
    background-color: rgb(131, 131, 131);
    border: none;
    margin-top: 2%;
    margin-left: 5%;
    transition: 0.4s;
    border-radius: 6px;
    padding: 0;
}

#load:hover{
    background-color: #4c89b3;
    color: white;
}

#sort_order{
    width: 15%;
    height: 50px;
    background-color: rgb(131, 131, 131);
    border: none;
    margin-top: 2%;
    margin-left: 3%;
    transition: 0.4s;
    border-radius: 6px;
    padding: 0;
}

#save{
    width: 15%;
    height: 50px;
    background-color: rgb(131, 131, 131);
    border: none;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 6px;
    transition: 0.4s;
    padding: 0;
}

#save:hover{
    background-color: #3e8e41;
    color: white;
}

#add{
    width: 15%;
    height: 50px;
    background-color: rgb(131, 131, 131);
    border: none;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 6px;
    transition: 0.4s;
    padding: 0;
}

#add:hover{
    background-color: rgb(216, 216, 37);
    color: black;
}

#search{
    width: 15%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 6px;
    padding: 0;
    border: 1mm solid rgba(234, 0, 255, 0.6);
}

#text_box{
    margin: 0;
    margin-top: 50px;
    margin-left: 20%;
    color: black;
    height: 150px;
    background-color: rgb(131, 131, 131);
    width: 50%;
    display: inline-flex; 
    flex-direction: column;
}

#list_title{
    order: 1;
    font-size: 2vw;
    margin-left: 10px;
    margin-top: 10px;
}

#list_description{
    order: 2;
    font-size: 1vw;
    margin-left: 10px;
}

#list_date{
    order: 3;
    font-size: 1vw;
    position: absolute;
    margin-top: 115px;
    margin-left: 10px;
}

.todo-list{
    padding: 0;
    margin: 0;
}

#delete_button{
    color: black;
    height: 150px;
    width: 10%;
    background-color: rgb(224, 223, 223);
    display: inline-block;
    margin: 0;
    position: absolute;
    margin-top: 50px;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
}

#check_button{
    display: inline-block;
    margin: 0;
    margin-left: 15%;
    margin-top: 105px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
}

