@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400&display=swap');
:root {
    --shadow: 0px 4px 24px hsla(0, 0%, 27%, 0.15);
    /* Background color */
    --background-color: hsl(195, 100%, 98%);
    /* Frame color */
    --frame-color: hsl(0, 0%, 100%);
    /* Primary text */
    --gray-tint-1: hsl(0, 0%, 20%);
    /* Secondary text/icons */
    --gray-tint-2: hsl(0, 0%, 55%);
    /* Tertiary */
    --gray-tint-3: hsl(0, 1%, 75%);
    /* Favorites color */
    --important-color: hsl(44, 75%, 84%);
    font-family: 'Cabin', sans-serif;
    color: var(--gray-tint-1);
}

/* Phone */

@media screen and (max-width: 1024px) {
    body {
        margin: 0;
    }
    #container {
        height: 100vh;
        max-height: 100vh;
    }
    #container>* {
        min-width: 100vw;
        margin: 0;
        padding: 0;
    }
    .todo {
        padding: 0.5em;
        margin: 0.75em;
    }
    .todo>* {
        padding: 1rem;
    }
    #todo-container {
        flex: 1;
        overflow: hidden;
    }
    #input-container {
        padding: 2rem 0;
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {
    #container {
        margin: 2em;
    }
    #container>* {
        width: 50vw;
    }
    .todo {
        padding: 1em;
        margin: 0.5em;
    }
    .todo>* {
        padding: 0.5rem;
    }
    #todo-container {
        height: 60vh;
        border-radius: 0.75em;
    }
    #input-container {
        padding: 2rem 0.33rem;
        border-radius: 0.75em;
        margin-top: 1em;
    }
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo {
    box-shadow: var(--shadow);
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: min-content minmax(auto, max-content) minmax(auto, max-content) minmax(min-content, auto) min-content min-content;
    column-gap: 0.5em;
    grid-template-rows: auto auto 2em;
    grid-template-areas: "checkbox title title date important delete" "checkbox description description description important delete" "checkbox description description description important delete";
}

#todo-container {
    display: flex;
    flex-direction: column;
    background-color: var(--frame-color);
    box-shadow: var(--shadow);
}

#input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--frame-color);
    box-shadow: var(--shadow);
    font-size: 1.25em;
}

#todos {
    padding: 2em;
    overflow-y: auto;
}

body {
    background-color: var(--background-color);
}

* {
    transition: all 0.67s cubic-bezier(0, 0, 0.2, 1);
}

.checked {
    text-decoration: line-through;
}

input {
    font-family: 'Cabin', sans-serif;
    font-size: 1.25rem;
}

#add {
    background: url("plus.svg") var(--frame-color) no-repeat;
    box-shadow: var(--shadow);
    border: none;
    border-radius: 0.75em;
    margin: 0.25em;
}

#input-container>::placeholder {
    color: var(--gray-tint-3);
}

#sort-container {
    display: flex;
    flex-direction: row;
    padding: 1em;
    box-shadow: var(--shadow);
    border-radius: 0.75em 0.75em 0 0;
}

#titleInput, #descriptionInput, #dueDateInput {
    box-shadow: var(--shadow);
    border: 0.25rem solid var(--gray-tint-3);
    border-radius: 0.75em;
    padding: 1em 0.25em;
    margin: 0.25em;
    color: var(--gray-tint-1);
}

.sort-button {
    background: url("sort.svg") no-repeat;
    padding: 1em;
    margin-right: 2em;
    border: none;
    cursor: pointer;
    transition: .1s;
}

.sort-button:focus {
    outline: none;
}

.flip {
    /* Peegelpildi moodi flip, kuna rotate(180deg) pööraks ta teise suunda */
    transform: scale(1, -1);
}

.sort-text {
    letter-spacing: 0.2em;
}

.title {
    font-size: 1.667em;
    grid-area: title;
}

.description {
    color: var(--gray-tint-2);
    grid-area: description;
}

.dueDate {
    color: var(--gray-tint-2);
    grid-area: date;
    align-self: center;
    justify-self: end;
    white-space: nowrap;
}

label {
    grid-area: checkbox;
    place-self: center center;
}

.checkbox {
    display: none;
    width: 0;
    height: 0;
}

.checkbox+.checkbox-decoy {
    border: 0.1875em solid var(--gray-tint-3);
    border-radius: 0.125em;
}

.checkbox:checked+.checkbox-decoy {
    background: url("checkmark.svg") var(--gray-tint-3) no-repeat;
}

.checkbox-decoy {
    height: 3em;
    max-width: 3em;
    width: 3em;
}

.important-button {
    background: url("important.svg") no-repeat;
    cursor: pointer;
    grid-area: important;
    place-self: center;
    padding: 1.5em;
    margin: 0.5em;
}

.important-task {
    background-color: var(--important-color);
}

.delete-button {
    background: url("x.svg") no-repeat;
    cursor: pointer;
    grid-area: delete;
    place-self: center;
    padding: 1em;
    margin: 0.5em;
}