@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400&display=swap');

:root {
    --shadow: 0px 4px 24px hsla(0, 0%, 27%, 0.15);
    /* Background color */
    --background-color: hsl(195, 100%, 97%);
    /* Frame color */
    --frame-color: hsl(0, 0%, 100%);
    /* Primary text */
    --gray-tint-1: hsl(0, 0%, 20%);
    /* Secondary text/icons */
    --gray-tint-2: hsl(0, 0%, 43%);
    /* Separator bar */
    --gray-tint-3: hsl(0, 1%, 75%);
    /* Alternative frame color */
    --gray-tint-4: hsl(0, 0%, 93%);
    /* Favorites color */
    --important-color: hsl(56, 100%, 48%);
}

body {
    background-color: var(--background-color);
    color: var(--gray-tint-1);
    font-family: 'Cabin', sans-serif;
}

.checked {
    text-decoration: line-through;
}

#inputContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 5px;
}

#container2 {
    display: flex;
    flex-direction: column;
    background-color: var(--frame-color);
    width: 60%;
    height: 500px;
    box-shadow: var(--shadow);
    border-radius: 0.75em;
    position: absolute;
    top: 20%;
    left: 23%;
}

#sort-container {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding: 2em 8em 1em 8em;
    background-color: var(--gray-tint-4);
    border-radius: 0.75em 0.75em 0 0;
    border-bottom: var(--gray-tint-3) solid 0.125em;
}

#todos {
    overflow-y: scroll;
    padding: 2em;
}

.sort-button {
    background: url("sort.svg") no-repeat;
    padding: 1em;
    margin-right: 2em;
    border: none;
    cursor: pointer;
    transition: .1s;
    height: 2em;
}

.sort-button:focus {
    outline: none;
}

.flip {
    /* Peegelpildi moodi flip, kuna rotate(180deg) pööraks ta teise suunda */
    transform: scale(1, -1);
}

.sort-text {
    letter-spacing: 0.2em;
}

.todo {
    box-shadow: var(--shadow);
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    display: grid;
    grid-template-columns: min-content auto auto auto 7.5% 7.5%;
    column-gap: 0.5em;
    grid-template-rows: minmax(2em, 1fr) minmax(1em, 1fr) minmax(2em, 1fr);
    grid-template-areas: 
    ". title title date . ."
    "checkbox description description description important delete"
    ". description description description . .";
}

.todo > * {
    padding: 0.5rem;
}

.title {
    font-size: 2em;
    grid-area: title;
    
}

.description {
    color: var(--gray-tint-2);
    grid-area: description;
}

.dueDate {
    color: var(--gray-tint-2);
    grid-area: date;
    align-self: center;
    justify-self: end;
}

input[type='checkbox'] {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
}

.checkbox {
    width: 1em;
    height: 1em;
    border: 0.1875em solid var(--gray-tint-3);
    border-radius: 0.125em;
    grid-area: checkbox;
}

.important-button {
    background: url("important.svg") no-repeat;
    cursor: pointer;
    grid-area: important;
}

.important-task {
    background-color: var(--important-color);
}

.delete-button {
    background: url("x.svg") no-repeat;
    cursor: pointer;
    grid-area: delete;
}