body{
    margin:0;
}

.task-completed{
    border-color: teal;
}

.task-completed.entry-value{
    text-decoration: line-through;
}

#inputContainer, #button{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 5px;
}

input{
    width: 25%;
    margin: 5px;
    border-radius: 10px;
    height:25px;
}

input[type="button"]{
    height: 37px;
    padding: 10px;
    font-size: 17px;
    background-color: burlywood;
    border: 1px solid burlywood;
    color: white;
    width: 15%;
    border-radius: 10px;
    text-align: center;
}

input[type="button"]:hover{
    background-color: teal;
    border-color: teal;
    font-weight: 600;
}

li{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    margin: 5px;
}

.delete-button{
    color: red;
    font-size: 1.3em;
    font-weight: 500;
}

.delete-button:hover{
    font-size: 1.4em;
    color: slategrey;
    cursor: pointer;
}

.entry-value{
    cursor: pointer;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.entry-value:hover{
    background-color: steelblue;
}